@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Island+Moments&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  --cursor-size: 64px;
}

body {
  /* We'll apply 'Inter' using a class in App.jsx or directly on elements */
  background-color: #fff; /* Ensure body background is white */
}


.custom-cursor {
  cursor: url('./assets/custom-cursor.svg') 64 64, auto;
}